# Node.js dependencies
node_modules/

# Build output
/dist/
/build/

# Environment files
.env
.env.*.local

# Logs
logs/
*.log

# Coverage directories
coverage/
.nyc_output/

# Editor directories
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Webpack cache
.cache/

# Archivos de utilidad
src/js/generate-hash.js

CUADROS_DE_SUPERFICIES.xlsx
Prueba plano de ventas 4B.pdf

data/*.json
firebase-credentials.json
